* {
    margin: 0px;
    color: #fff;
    font-family:sans-serif;
    font-size: 14px;
}
body {
    background: url(../images/fundo.jpg) no-repeat center center fixed;
    background-position: center;
    background-size: cover;

}
.box {
    height: 620px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box1, .box2 {
    padding: 20px;
}
img {
    height: 70px;
    border-radius: 50%;
}
.img {
    text-align: center;
    margin-bottom: 30px;
}
.box1 {
    width: 200px;
    height: 450px;
    background-color: #1e1e1e;
    background: linear-gradient(#1e1e1e, #3e3e3e,);
    border-radius: 10px 0px 0px 10px;
    opacity: 0.95;
}
.box2 {
    width: 300px;
    height: 450px;
    background-color: #5d5d5d;
    background: linear-gradient(#5d5d5d, #7d7d7d);
    border-radius: 0px 10px 10px 0px;
    opacity: 0.95;
    text-align: center;
}
h1 {
    font-size: 20px;
    text-align: center;
}
.box2 h1 {
    font-size: 25px;
}
form {
    background-color: transparent;
}
input {
    background-color: #d8d8d8;
    border-radius: 10px;
    border-color: transparent;
    color: #000;
    margin: 5px;

}
input .submit{
    color: black;
} 
option, select, button {
    background-color: #084d6e;
    background: linear-gradient( -60deg,#084d6e, #085d7e);
    border-radius: 5px;
    border-color: transparent;
    color: #fff;
    margin: 5px;
} 
select {
    background-color: #5d5d5d;
    border-radius: 10px;
    padding: 2px;
}
.register {
    padding: 5px;
}

@media ( max-width: 500px){

    .box {
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 20px;
        width: auto;
        text-align: center;
    }
    .box1, .box2 {
        width: 300px;
        height: 450px;
    }
    .box1 {
        border-radius: 10px 10px 0px 0px;
    }
    .box2 {
        border-radius: 0px 0px 10px 10px;
    }
}
